<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Nop-commerce TestCases">

    <test name="Check register for new user with valid data">
        <classes>
            <class name="TestCases.TC02_Registration">
                <methods>
                    <include name="RegisterNewUserWithValidData_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check login with valid data">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="checkLoginWithValidData_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check Forget Password function">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="checkLoginWithValidData_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check hover random category">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="loginWithValidData_P"/>
                </methods>
            </class>
            <class name="TestCases.TC04_Category">
                <methods>
                    <include name="chooseRandomCategory_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Change currency">
        <classes>
            <class name="TestCases.TC05_ChangeCurrency">
                <methods>
                    <include name="selectCurrency_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Search with keyword ">
        <classes>
            <class name="TestCases.TC03_SearchFunction">
                <methods>
                    <include name="searchFunction_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name=" Check Forget Password Function">
        <classes>
            <class name="TestCases.TC06_Reset_Password">
                <methods>
                    <include name="checkPasswordFunction_P"/>
                </methods>
            </class>
        </classes>

    </test>
    <test name="Check hover specific category">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="loginWithValidData_P"/>
                </methods>
            </class>
            <class name="TestCases.TC07_Filtration">
                <methods>
                    <include name="chooseSpecificCategory_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check Add different products to the card">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="loginWithValidData_P"/>
                </methods>
            </class>
            <class name="TestCases.TC08_DifferentProducts">
                <methods>
                    <include name="AddDifferentProductsToTheCard_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check Add different products to WishList">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="loginWithValidData_P"/>
                </methods>
            </class>
            <class name="TestCases.TC09_WishList">
                <methods>
                    <include name="AddDifferentProductsToWishlist_P"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Check Add different products to CompareList">
        <classes>
            <class name="TestCases.TC01_Login">
                <methods>
                    <include name="loginWithValidData_P"/>
                </methods>
            </class>
            <class name="TestCases.TC10_CompareList">
                <methods>
                    <include name="AddDifferentProductsToCompareList_P"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>